{% extends 'base.twig' %}

{% block content %}
  <article id="post-{{ post.id }}" class="{{ post.class }}">
    <div class="xd-py--lg">
      <header class="entry-header">
        <div class="container">
          <div class="row">
            <div class="col-10 offset-1 col-lg-8 offset-lg-2">
              {% if 'post' == post.type %}
                <div class="entry-meta title">
                  {{ post.date('M d, Y') }}
                </div>
              {% endif %}
              <h1 class="entry-title xd-mb--sm">{{ post.title }}</h1>
            </div>

            <div class="col-10 offset-1 col-lg-8 offset-lg-2">
              <div class="post-thumbnail">
                {{ xd_get_picture(post.thumbnail.id) }}
              </div>
            </div>
          </div>
        </div>
      </header>

      <span class="screen-reader-text">{{ __('Continue reading', 'xd') }} {{ post.title }}</span>
      <div class="entry-content">
        {{ post.content }}
      </div>

      <footer class="entry-footer">
        {{ xd_entry_footer() }}
      </footer>
      <!-- .entry-footer -->
    </div>
  </article>
{% endblock %}
