<div class="hero hero-front-page hero-full {{ templateProps.heroClassName }}">
	{% if post.heroImage %}
		{% include 'components/background-image.twig' with { backgroundImage: post.heroImage } %}
	{% endif %}

	<div class="hero-full__foreground">
		<div class="container">
			<div class="row">
				<div class="col-10 col-md-8 col-lg-6 offset-1 offset-md-2 offset-lg-3">
					<div class="hero-full__foreground-container xd-pt--xl xd-pb--{{ post.heroFooterText ? 'sm' : 'xl' }}">
						<div class="hero-full__foreground-body">
							<div class="hero-full__foreground-body-contents">
								<h1 class="xd-font__display-2">{{ post.heroTitle }}</h1>
								{% if post.heroSubTitle %}
									<h5>{{ post.heroSubTitle }}</h5>
								{% endif %}
								{% if post.heroImage.video.modal.src %}
									{% include 'components/modal-video-link.twig' with { video: post.heroImage.video } %}
								{% endif %}
								{% if templateProps.heroButton %}
									{{ templateProps.heroButton }}
								{% endif %}
							</div>
						</div>
						{% if post.heroFooterText %}
							<div class="hero-full__foreground-footer xd-pt--xl">
								<p class="title">{{ post.heroFooterText|nl2br }}</p>
							</div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
